.judgePanel-Block-root{
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: blue;
}


.judgePanel-Block-indexText{
    margin-top: 0;
    margin-bottom: 0;
    vertical-align:top;
    text-align: center;
    color: aliceblue;
    height: 65%; 
    font-size: 25px;
}


.judgePanel-Block-timeText{
    margin: 0;
    vertical-align: center;
    text-align: center;
    color: aliceblue;
    font-size: 10px;
}