.codeEditAndJudge-root {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 30%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.problemListDetail-container {
  grid-column: 1;
  grid-row: 1;
  background-color: aliceblue;
  overflow: auto;
}

.codeEditor-container {
  grid-column: 2;
  height: 100%;
  overflow: hidden;
  grid-row: 1 / span 2;
  
}

.judgeStats-container {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
}

